html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1 0 auto;
}

#footer {
  padding-top: 64px;
  padding-bottom: 96px;
  font-size: 1rem;
  background-color: $gray-light;
  color: $gray;

  @media (max-width: $md-breakpoint) {
    padding-top: 32px;
    padding-bottom: 64px;
  }

  @media (max-width: $sm-breakpoint) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  h4 {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 3rem;
    padding-top: 0.5rem;
  }

  h4::after {
    display: block;
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 24px;
    height: 0;
    content: " ";
    border-top: 4px solid $black;
  }

  ul li p {
    margin: 0;

    a {
      font-weight: 200;
      text-decoration: none;
      color: $gray;
    }
  }

  a:hover {
    text-decoration: underline;
    color: $green !important;
  }

}
