.page-index .masthead {
  // vertical spacing
  @media (min-width: $lg-breakpoint) {
    padding-bottom: 2.5rem;
  }

  @media (min-width: $xl-breakpoint) {
    padding-bottom: 7rem;
  }

  // Apply proportional height on small screens
  .graphics { height: 112vw; }

  // WARNING: Magic numbers below.

  .graphics::after {
    background: url(/img/svg/home-masthead.svg) no-repeat transparent;
    height: 100%;
    width: 100vw;
    left: 0;
    top: -2rem;
    background-position: top left;
    background-size: auto 92%;
  }

  @media (min-width: $md-breakpoint) {
    .graphics { height: 62vw; }

    .graphics::after {
      background-position: top 5% left 1rem;
      background-size: auto 96%;
      top: 0;
    }
  }

  @media (min-width: $lg-breakpoint) {
    .graphics::after { top: -6rem; }
  }

  @media (min-width: $xl-breakpoint) {
    .graphics {
      height: 46vw;
    }

    .graphics::after {
      height: 118%;
      top: -5.5rem;
      left: 3rem;
    }
  }

  @media (min-width: $xxl-breakpoint) {
    .graphics {
      height: 39vw;
      max-height: 748px;
    }

    .graphics::after {
      height: 137%;
      top: -11rem;
      left: 8rem;
    }
  }
}

.media-items {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: $sourcesans;
  text-align: center;
  text-transform: uppercase;

  @media(min-width: $md-breakpoint) {
    display: table;
    padding-top: 2rem;
    padding-bottom: 2rem;
    vertical-align: middle;
  }

  @media(min-width: $lg-breakpoint) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  p, ul { margin: 0; }

  @media(min-width: $md-breakpoint) {
    p, ul {
      display: table-cell;
      vertical-align: middle;
    }

    p {
      min-width: 10rem;
    }
  }

  li {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  // prevent extra space before section padding-bottom
  li:last-of-type { margin-bottom: 0; }

  @media(min-width: $md-breakpoint) {
    li {
      display: table-cell;
      padding-left: 1rem;
      padding-right: 1rem;
      vertical-align: middle;
    }
  }

  img {
    max-width: 50%;

    @media (min-width: $sm-breakpoint) {
      max-width: 70%;
    }
  }

  a:hover img { opacity: .4; }

  a:hover::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1em;
    width: 1em;
    padding: 1em;
    margin-left: -1em;
    margin-top: -1em;
    border-radius: 50%;
    background-color: $black;
    background-image: url(/img/svg/external-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1em;
  }
}

.advantages {
  text-align: center;

  header {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  header, .column { margin-top: 3rem; }

  p {
    font-size: 24px;
    color: $gray;
    margin: 0;
  }
}

.advantages {
  text-align: center;

  .percent {
    display: block;
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    // hiding span text replaced by image below
    color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .adv-47 { background-image: url("/img/svg/adv_47.svg"); }

  .adv-54 { background-image: url("/img/svg/adv_54.svg"); }
}

.exchange {
  overflow: hidden;

  // Vertically center text column on >= medium screens
  @media (min-width: $md-breakpoint) {
    .row {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
    }
  }

  .graphics { height: 92vw; }

  .graphics::after {
    background: url(/img/svg/water-illustration.svg) no-repeat transparent;
    height: 230%;
    width: 103vw;
    right: -2rem;
    top: 2rem;
    background-position: top left 120%;
    background-size: auto 100%;
  }

  @media(min-width: $md-breakpoint) {
    .graphics {  height: 56vw; }

    .graphics::after {
      background-position: top left -3rem;
      background-size: 100%;
    }
  }

  @media(min-width: $lg-breakpoint) {
    .graphics {
      height: 47vw;
      max-height: 642px;
    }

    .graphics::after {
      background-position: top 1rem left 1rem;
      background-size: 93%;
    }
  }

  @media(min-width: $xl-breakpoint) {
    .graphics::after {
      background-position: top right 3rem;
      background-size: auto 106%;
    }
  }

  @media(min-width: $lg-breakpoint) {
    p:first-of-type {
      font-size: 24px;
    }
  }
}
