<svg viewBox="0 0 49.3 42.4">
  <title>{{ distinction-tab-image[title] Distinction }}</title>
  <style>
    .di0 {
      fill: none;
      stroke: #1D1D1B;
      stroke-width: 2;
      stroke-miterlimit: 10;
    }

    .di1 {
      fill: #0FD40A;
    }
  </style>
  <path class="di0" d="M30.6,10.4h17.1c0.3,0,0.6,0.2,0.6,0.6v29.9c0,0.3-0.3,0.6-0.6,0.6H1.6c-0.3,0-0.6-0.3-0.6-0.6V11
               c0-0.3,0.3-0.6,0.6-0.6h17.1" />
  <path class="di1" d="M14.2,29.4L14.2,29.4c-1.1,0-1.9-0.3-2.5-1c-1.5-1.7-1.2-4.9-1.2-5v0c0.2-3.5,2.8-3.8,3.5-3.8h0.2
               c0.8,0,3.4,0.3,3.5,3.8v0c0,0,0.3,3.3-1.2,5C16,29.1,15.2,29.4,14.2,29.4" />
  <path class="di1" d="M12.2,29c0,0-0.8,2.4-5.1,3.9v1.6h14.1v-1.6c-4.3-1.5-5.1-3.9-5.1-3.9" />
  <path class="di0" d="M24.7,4.6c1.4,0,2.5,1.1,2.5,2.5c0,1.4-1.1,2.5-2.5,2.5c-1.4,0-2.5-1.1-2.5-2.5C22.2,5.7,23.3,4.6,24.7,4.6" />
  <path class="di0" d="M30,14.6H19.3c-0.3,0-0.6-0.3-0.6-0.6V1.7c0-0.3,0.3-0.6,0.6-0.6H30c0.3,0,0.6,0.3,0.6,0.6V14
               C30.6,14.3,30.3,14.6,30,14.6z" />
  <path class="di0" d="M27.7,31.9h14 M27.7,27.2h14 M27.7,22.3h8" />
</svg>
